:root {
  --primary-button: #3e5df7;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #fffdf7;
}
h1 {
  color: #000;
  font-size: 34px;
  line-height: 50px;
}

.u-tab-bar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 90px;
  border: 1 solid #000 #000 rgba(244, 188, 29, 0);
  background-color: #fffdf7;
  box-shadow: 7px 7px 15px 2px rgb(92 92 92 / 4%);
  z-index: 2;
}

.hero-section,
.about,
.works {
  margin-top: 10%;
}

.img-hero {
  width: 100%;
  height: auto;
  margin-top: 40px;
}

.project-thumbnail {
  border-radius: 6px;
  box-shadow: 0 0 11px rgb(0 0 0 / 10%);
  margin-bottom: 16px;
}

.text-center {
  text-align: center;
}
.primary-button {
  background-color: var(--primary-button);
  color: white;
  border: #7e65ed 1px solid;
  border-radius: 6px;
  padding: 8px 16px;
}

.project-dec {
  color: rgba(0, 0, 0, 0.563);
  font-size: 12px;
}

.img-dn {
  float: left;
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dn {
  float: left;
  width: fill;
  object-fit: cover;
}

.contact span {
  font-weight: bold;
}
.contact-p {
  background-color: #e8ce9d86;
  border-radius: 6px;
  padding: 24px 16px;
}

.footer-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  margin-left: 16px;
}

footer {
  padding: 16px;
  border-top: rgba(0, 0, 0, 0.1) 1px solid;
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
}
/*
.circle {
  position: absolute;
  left: auto;
  top: 40%;
  right: 12%;
  z-index: 1;
  display: flex;
  width: 250px;
  height: 250px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f4bc1d;
  box-shadow: 0 0 9px 4px rgb(0 0 0 / 4%);
}
*/
@media screen and (max-width: 991px) {
  /*
  .circle {
    top: 44%;
    right: 18%;
    width: 150px;
    height: 150px;
  }
  */
  .u-tab-bar {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  /*
  .circle {
    top: 44%;
    right: 18%;
    width: 100px;
    height: 100px;
  }
  */
  .hero-section {
    margin-top: 15%;
  }
  h1 {
    font-size: 28px;
    line-height: 40px;
  }
}

@media screen and (max-width: 479px) {
  /*
  .circle {
    top: 34%;
    right: 6.5%;
    width: 80px;
    height: 80px;
  }
  */
  h1 {
    font-size: 22px;
    line-height: 34px;
  }
}
/*
@media screen and (max-width: 400px) {
  .circle {
    top: 33%;
    right: 6.5%;
    width: 70px;
    height: 70px;
  }
}
*/
